.footer {
    background-color: #0a72da;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        margin: 0;
        font-size: 1.2em;
        font-family: 'Arial', sans-serif;
        letter-spacing: 1px;
    }
}